<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home.index') }} ">Accueil</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('ingredient.index') }}">Mes ingrédients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('recipe.index') }}">Mes recettes</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('security.login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('security.registration') }}">Inscription</a>
                </li>

                {% endif %}
            </ul>
            {% if app.user %}
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.fullname}} </a>
                    <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="{{ path('user.edit', {id: app.user.id}) }}">Mes infos</a>
                    <a class="dropdown-item" href="{{ path('user.edit.password',{id: app.user.id}) }}">Mon mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>