{% extends 'base.html.twig' %}

{% block title %} Symrecipe - Accueil {% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Symrecipe</h1>
        <p class="lead">Symrecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créé. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a>
        </p>
    </div>

    <div class="recipes">
        <h2 class="mt-4">Recettes de la communauté</h2>
        <div class="container row justify-content-center text-center">
            {% for recipe in recipes %}
            <div class="card text-white bg-warning m-3" style="max-width: 20rem;">
                <div class="card-header"><h4 class="card-title">{{recipe.name}}</h4></div>
                <div class="card-body">
                    {% if recipe.quantity %}
                        <p>Pour {{recipe.quantity}} personnes</p>
                    {% else %}
                        <p>Nombre de personne non renseigné</p>
                    {% endif %}
                    {% if recipe.difficulty %}
                        <p>Difficulté : {{recipe.difficulty}}/5</p>
                    {% else %}
                        <p>Difficulté non renseigné</p>
                    {% endif %}
                    {% if recipe.time %}
                        <p>Durée : {{recipe.time}} minutes</p>
                    {% else %}
                        <p>Durée non renseignée</p>
                    {% endif %}
                    {% if recipe.price %}
                        <p>Prix : {{recipe.price}} €</p>
                    {% else %}
                        <p> Prix non renseigné</p>
                    {% endif %}
                    <a href="{{ path('recipe.show', {id : recipe.id}) }}">Voir la recette</a>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>
</div>
{% endblock %}
